.products {
    margin: 80px 10px 40px 10px;
}

.products .rowTitle .col {
    text-align: center;
}

.products .rowTitle .col hr {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.products .productsRow {
    text-align: center;
    margin-bottom: 50px;
}

.products .productsRow .loading {
    font-size: 16px;
    font-weight: bold;
    margin: 50px 0;
}

.products .buttons {
    margin: 40px 90px;
}

.products .buttons .button {
    background-color: transparent;
    border: 1px solid #001e28;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: all 1s;
    margin-bottom: 10px;
}

.products .buttons .button:hover {
    background-color: #001e28;
    color: #ffffff;
}

.products .buttons .btn:active {
    transform: translateY(10px);
}

.products .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.products .cards .card {
    width: 250px;
    height: auto;
    box-shadow:  0 0 5px #001e28;
    padding: 5px;
    border-radius: 5px;
    transition: all 1s;
}

.products .cards .card:hover {
    box-shadow: 0 0 8px #000000;
}

.products .cards .card .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 250px;
}

.products .cards .card .card-header img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    transition: all 1s;
    mix-blend-mode: multiply;
}

.products .cards .card:hover .card-header img {
    transform: scale(1.1);
}

.products .cards .card .card-body .title {
    text-transform: uppercase;
}

.products .cards .card .card-body .other {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.products .cards .card .card-body .other span:last-child {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.2px;
}

.products .cards .card .card-footer {
    margin: 20px 0 10px 0;
    background-color: #000000;
    color: #fefefe;
    border-radius: 19px;
    
}

.products .cards .card .card-footer a  {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    max-width: 90%;
    width: 80%;
    letter-spacing: 1.2px;
    transition: all 1s;
}


.products .cards .card .card-footer a:hover {
    background-color: #050505;
    color: #ffffff;
}

@media screen and (max-width: 550px){
    .products .cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 551px) and (max-width: 830px) {
    .products .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 831px) and (max-width: 1200px) {
    .products .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}